[% WRAPPER layout.tt title="Clone Jobset" %]
[% PROCESS common.tt %]
[% USE HTML %]
[% edit=1 %]

<form action="[% c.uri_for('/jobset' jobset.project.name jobset.name 'clone' 'submit') %]" method="post">

  <h2>Cloning jobset [% jobset.project.name %]:[% jobset.name %]</h2>
  <p>
     Name <tt><input type="text" class="string" name="newjobset" [% HTML.attributes(value => "") %] /></tt>
  </p>
  <p>
     <button type="submit">Next</button>
  </p>

</form>

[% END %]
