[% WRAPPER layout.tt title="Error" %]
[% USE HTML %]

<div class="page-header"><h1>[% IF httpStatus %][% httpStatus %][% ELSE %]Error[% END %]</h1></div>

<p>I'm very sorry, but the following error(s) occurred:</p>

<ul>
[% FOREACH error IN errors %]
<li><div class="error-msg">[% HTML.escape(error) %]</div></li>
[% END %]
</ul>

[% END %]
