[% WRAPPER layout.tt title="Log of " _ (step ? " step $step.stepnr of " : "") _ "build ${build.id} of job $build.project.name:$build.jobset.name:$build.job.name" %]
[% PROCESS common.tt %]

<p>
  This is the build log of derivation <tt>[% IF step; step.drvpath; ELSE; build.drvpath; END %]</tt>.
  [% IF step && step.machine %]
    It was built on <tt>[% step.machine %]</tt>.
  [% END %]
</p>

<div class="buildlog">
[% logtext %]
</div>

[% END %]
