[% WRAPPER layout.tt title=title %]
[% PROCESS common.tt %]

[% project = build.project %]
[% jobset = build.jobset %]
[% job = build.job %]

<h1>[% title %]</h1>

<div class="buildlog">
[% contents -%]
</div>

[% END %]
