[% WRAPPER layout.tt title="Queue" %]
[% PROCESS common.tt %]

<p><a class="btn" href="[% c.uri_for('/status') %]">Running build steps</a></p>

[% IF queue.size == 0 %]

  <p>The queue is empty.</p>

[% ELSE %]

  [% INCLUDE renderBuildList builds=queue showSchedulingInfo=1 hideResultInfo=1 %]

[% END %]

[% END %]
