[% WRAPPER layout.tt title="Queue" %]
[% PROCESS common.tt %]

<div class="page-header"><h1>Hydra queue</h1></div>

<p><a class="btn" href="[% c.uri_for('/status') %]">Running build steps</a></p>

[% IF flashMsg %]
<p class="btn-info btn-large">[% flashMsg %]</p>
[% END %]

[% IF queue.size == 0 %]

  <p>The queue is empty.</p>

[% ELSE %]

  [% INCLUDE renderBuildList builds=queue showSchedulingInfo=1 hideResultInfo=1 %]

[% END %]

[% END %]
