[% WRAPPER layout.tt title="Queue" %]
[% PROCESS common.tt %]

[% IF queue.size == 0 %]

  <p>The queue is empty.</p>

[% ELSE %]

  [% INCLUDE renderBuildList builds=queue showSchedulingInfo=1 hideResultInfo=1 %]

[% END %]

[% END %]
