[% WRAPPER layout.tt title="Running builds" %]
[% PROCESS common.tt %]

[% IF resource.size == 0 %]

  <div class="alert alert-info">There are no running builds.</div>

[% ELSE %]

  [% INCLUDE renderBuildList builds=resource showSchedulingInfo=1 hideResultInfo=1 busy=1 %]

[% END %]

[% END %]
