# gitignore 

*__pycache__*
x86_64-linux*
i686-linux*
x86_64-darwin*
aarch64-darwin*
aarch64-linux*
armv6l-linux*
armv7l-linux*
.othermachines*
*.Pike8.0
*.CoffeScript
*.Vim
.idea*
.ipynb_endpoints*
.ipynb_entrypoints*
.ipynb_checkpoints*
*.pdf
*.npz
_storaged.cache/*
_data/*
build/*
*_local_*
/.pls_cache
*.o
*~
Makefile
Makefile.in
.deps
.hydra-data
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/libtool
/ltmain.sh
/autom4te.cache
/aclocal.m4
/missing
/install-sh
/src/sql/hydra-postgresql.sql
/src/sql/hydra-sqlite.sql
/src/sql/tmp.sqlite
/src/hydra-eval-jobs/hydra-eval-jobs
/src/root/static/bootstrap
/src/root/static/js/flot
/tests
/doc/manual/images
/doc/manual/manual.html
/doc/manual/manual.pdf
/t/.bzr*
/t/.git*
/t/.hg*
/t/nix
/t/data
/t/jobs/config.nix
/inst
hydra-config.h
hydra-config.h.in
result
return
outputs
config
stamp-h1
src/hydra-evaluator/hydra-evaluator
src/hydra-queue-runner/hydra-queue-runner
src/root/static/fontawesome/
src/root/static/bootstrap*/
