[% WRAPPER layout.tt title="Hydra Overview" %]
[% PROCESS common.tt %]


<h1>Hydra Overview</h1>


<h2>Job status</h2>

<p>Below are the latest builds for each job.</p>

[% PROCESS renderBuildList builds=latestBuilds %]


<h2>All builds</h2>

<p>Number of builds: [% allBuilds.size %]</p>

[% PROCESS renderBuildList builds=allBuilds %]


[% END %]
