[% WRAPPER layout.tt title="Hydra Overview" %]

<h1>Build log [% IF step %] of step [% step.stepnr %] [% ELSE %]<tt>[% log.logphase %]</tt>[% END %] of build ID [% id %]</h1>

<div class="buildlog">
[% logtext -%]
</div>

[% END %]
