[% WRAPPER layout.tt title="Hydra Overview" %]

<h1>Logfile for <tt>[% build.project.name %]:[% build.attrname %]</tt> build [% build.id %]</h1>

<div class="buildlog">
[% logtext -%]
</div>

[% END %]
