body {
    font-family: sans-serif;
    background: white;
    margin: 2em 1em 2em 1em;
}

h1, h2, h3 {
    font-weight: bold;
    color: #005aa0;
}

h1 {
    font-size: 220%;
}

h2 {
    font-size: 130%;
    margin-top: 1em;
}

h3 {
    font-size: 100%;
}

table {
    empty-cells: show;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-bottom: 1em;
}

.layoutTable td, .layoutTable th {
    border-style: none;
}

th {
    text-align: center;
    font-weight: bold;
}

td, th {
    padding: 2px 5px;
    border: solid black 1px;
}

td {
    vertical-align: top;
}

th {
    vertical-align: top;
    background: #ffffc0;
}

td.pkgname {
    font-size: 140%;
    font-weight: bold;
    color: #005aa0;
    background: #ffffe0;
}

td.pkgname table {
    border: none;
    border-spacing: 0px;
}

td.pkgname table td {
    border: none;
}

td.pkgname td.pkgname {
    width: 100%;
}

td.reltype {
    font-weight: bold;
    color: #400000;
}

td.date, span.date, span.svnrev {
    color: #400000;
}

a:link { color: #0048b3; }
a:visited { color: #002a6a; }
a:hover { background: #ffffcd; }

span.relname {
    font-weight: bold;
}

span.filename, span.command {
    font-family: monospace;
}

span.md5 {
    font-family: monospace;
    color: #400000;
}

.failurewarning {
    font-weight: bold;
    color: red;
}

p.failurewarning {
    font-size: 120%;
}

span.system {
    font-style: italic;
}

table.derivationList {
    margin-left: 2em;
    margin-right: 2em;
}

table.derivationList, table.derivationList td, table.derivationList th {
    border: 1px solid #808080;
}

table.derivationList tr.odd {
    background: #f0f0f0;
}

table.derivationList td {
    vertical-align: top;
}

table.derivationList td.system {
    font-style: italic;
}

a {
    text-decoration: none; 
}

a:hover, a:visited:hover {
    text-decoration: underline;
}

img {
    border-style: none;
}

table.buildfarmResults td, table.buildfarmResults th {
    border: none;
}

td.buildfarmMainColumn {
    background-color: #E0E0E0;
    border: solid;
}

.error-msg {
    color: red;
    white-space: pre;
}

.error {
    color: red;
    font-weight: bold;
}

pre.buildlog {
    border: 1px solid black;
    padding: 0.3em;
    white-space: pre-wrap;
}

div.buildlog {
    border: 1px solid black;
    padding: 0.3em;
}

.multiLineMsg {
    padding: 0em;
    margin: 0em;
    white-space: pre-wrap;
}

ul.productList {
    list-style: none;
    padding-left: 1em;
}

ul.productList li {
    margin-top: 1em;
}

.runningJob {
    background-color: #ff3030;
    color: white;
}

.productDetails {
    display: none;
    margin-top: 1em; 
    margin-bottom: 1em;
    margin-left: 3em;
}

.template {
    display: none;
}

.template {
    display: none;
}

div.jobset {
    border: solid black 1px;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}

div.jobset-edit {
    background-color: #f8f8f8;
}

div.jobset-edit h3, div.jobset h3 {
    margin-top: 0.5em;
}

div.help {
    border: solid black 1px;
    padding-left: 1em;
    padding-right: 1em;
}

div.help pre {
    padding-left: 1.5em;
    color: #400000;
}


/* Sortable tables */

table.tablesorter {
    text-align: left;
}

table.tablesorter thead tr .header {
    background-image: url(/static/js/tablesorter/themes/blue/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(/static/js/tablesorter/themes/blue/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(/static/js/tablesorter/themes/blue/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #ffe000;
}

table.tablesorter thead tr th {
    padding-right: 1.5em;
}


/* Navbar */

#leftnavbar {
    position: absolute;
    left: 0px;
    width: 13em;
    border-right: 1px solid gray;
}

#content {
    position: absolute;
    left: 13em;
    margin-left: 1em;
    margin-right: 1em;
}

h1 {
    margin-top: 0em;
}

#leftnavbar ul.menu {
    display: block;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    margin-left: 1em;
    margin-right: 1em;
}

#leftnavbar ul.menu a {
    color: #005aa0;
}

#leftnavbar ul.menu > li {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    margin-bottom: 1.5em;
}

#leftnavbar ul.menu > li > div.title {
    text-align: center;
    font-weight: bold;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #c0c0c0;
    padding-bottom: 0.5em;
}

#leftnavbar ul.submenu {
    padding: 0 0 0 0;
    margin-left: 0em;
    margin-right: 0em;
}

#leftnavbar ul.submenu > li {
    font-size: 90%;
    list-style: none;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #c0c0c0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#leftnavbar ul.submenu > li > div.title {
    padding-left: 1.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-image: url(/static/images/arrow-right.gif);
    background-repeat: no-repeat;
    background-position: 0.3em center;
}

#leftnavbar ul.submenu > li.active > div.title {
    background-image: url(/static/images/arrow-right-active.gif);
    background-color: #eef2ff;
    font-weight: bold;
    color: #606060;
}

#leftnavbar ul.subsubmenu {
    padding-left: 0;
}

#leftnavbar ul.subsubmenu > li {
    font-size: 90%;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    border-color: #c0c0c0;
}

#leftnavbar ul.subsubmenu > li > div.title {
    padding-left: 3.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-image: url(/static/images/arrow-right.gif);
    background-repeat: no-repeat;
    background-position: 2.3em center;
}

#leftnavbar ul.subsubmenu > li.active > div.title {
    background-image: url(/static/images/arrow-right-active.gif);
    background-color: #eef2ff;
    font-weight: bold;
    color: #606060;
}

#footer {
    font-size: 80%;
}


/* Editing */

input.string {
    font-family: sans-serif;
    font-size: 100%;
    background-color: #fffff0;
    width: 20em;
}

input.shortString {
    width: 7em;
}

select {
    background-color: #fffff0;
}

button {
    background-color: #f0f0e0;
}