.logTreeToggle {
    text-decoration: none;
    font-family: monospace;
    font-size: larger;
}

.logo {
    height: 30px;
}

th {
    text-align: left;
    vertical-align: top;
}

.template {
    display: none;
}

h3 {
    margin-top: 1em;
}

table.productList {
    border-collapse: separate;
    border-spacing: 0em 1em;
}
