body {
    font-family: sans-serif;
    background: white;
    margin: 2em 1em 2em 1em;
}

#logo img {
	width: 8em;
}

img {
    border-style: none;
}

a { text-decoration: none;}
a:link { color: #0048b3; }
a:visited { color: #002a6a; }
a.no-hover:hover { background: none; }
a:hover, a:visited:hover { text-decoration: underline;}
a.smallLink {
    font-size: 60%;
    vertical-align: top;
}
a#error-link { 
    color: red;
}


table {
    empty-cells: show;
    border-spacing: 1px;
    text-align: left;
}

th, td {
    border: 1px solid #dddddd;
    vertical-align: top;
}

th {
    background-color:#E6EEEE;
}

table.tablesorter:not(.clean) tr:nth-child(even) {
    background-color: #efefef;
}

table.tablesorter:not(.clean) tr:nth-child(odd) {
    background-color: #ffffff;
}

tr.clickable:hover {
    background-color: #E6EEFF;
    cursor: pointer;
}
td.centered {
    text-align: center;
}


.layoutTable td, .layoutTable th {
    border-style: none;
}

table.tablesorter thead tr .header {
    background-image: url(/static/js/tablesorter/themes/blue/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(/static/js/tablesorter/themes/blue/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(/static/js/tablesorter/themes/blue/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #D6DDDD;
}

table.tablesorter thead tr th {
    padding-right: 1.5em;
}

#generic-tabs li {
    height : 30px;
    font-size : 90%;
}
#generic-tabs div {
    font-size : 90%;
}

h1, h2, h3 {
    font-weight: bold;
    color: #002a70;
}

ul.productList {
    list-style: none;
    padding-left: 1em;
}

ul.productList li {
    margin-top: 1em;
}

.productDetails {
    display: none;
    margin-top: 1em; 
    margin-bottom: 1em;
    margin-left: 3em;
}

.runningBuild {
}

.disabledBuild {
}

.error-msg {
    color: red;
    white-space: pre-wrap;
}

.error {
    color: red;
    font-weight: bold;
}

pre {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

pre.buildlog {
    border: 1px solid black;
    padding: 0.3em;
    white-space: pre-wrap;
}

div.buildlog {
    border: 1px solid black;
    padding: 0.3em;
}

.multiLineMsg {
    padding: 0em;
    margin: 0em;
    white-space: pre-wrap;
}

.template {
    display: none;
}

div.help {
    border: solid black 1px;
    padding-left: 1em;
    padding-right: 1em;
}

div.help pre {
    padding-left: 1.5em;
    color: #400000;
}

th.releaseSetJobName {
    font-size: 60%;
    padding: 0 0 0 0;
}

input.string {
    font-family: sans-serif;
    font-size: 100%;
    background-color: #fffff0;
    width: 20em;
}

input.shortString {
    width: 7em;
}

input.longString {
    width: 40em;
}

select {
    background-color: #fffff0;
}

button {
    background-color: #f0f0e0;
}

form.inline {
    display: inline;
}

