.buildlog {
    border: 1px solid black;
    padding: 0.3em;
}

em.storeref {
    color: #500000;
    position: relative;
    width: 100%;
}

em.storeref:hover {
    background-color: #eeeeee;
}

*.popup {
    display: none;
    background: #ffffcd;
    border: solid #555555 1px;
    position: absolute;
    top: 0em;
    left: 0em;
    margin: 0;
    padding: 0;
    z-index: 100;
}

em.storeref:hover span.popup {
    display: inline;
    width: 40em;
}

span.code {
    white-space: pre-wrap;
    font-family: monospace;
}

.errorLine {
    color: #ff0000;
    font-weight: bold;
}

.warningLine {
    color: darkorange;
    font-weight: bold;
}

.prio3 {
    font-style: italic;
}
