[% WRAPPER layout.tt title=title %]
[% PROCESS common.tt %]

[% project = build.project %]
[% jobset = build.jobset %]
[% job = build.job %]

<div class="card bg-light"><div class="card-body"><pre>[% HTML.escape(contents) %]</pre></div></div>

[% END %]
