name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: cachix/install-nix-action@v17
    #- run: nix flake check
    - run: nix-build -A checks.x86_64-linux.build -A checks.x86_64-linux.validate-openapi
